@model IEnumerable<LibraryFinalsProject.ViewModels.BookViewModel>

@{
    ViewData["Title"] = "Books List";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookModal" data-url="@Url.Action("Create", "Books")">
    Add Book
</button>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.CategoryName</td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- The content will be loaded dynamically with AJAX -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#bookModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.data('url'); // Extract info from data-* attributes
                var modal = $(this);
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function (data) {
                        modal.find('.modal-content').html(data);
                    }
                });
            });

            $('#bookModal').on('hidden.bs.modal', function () {
                $(this).find('.modal-content').html('');
            });
        });
    </script>
}
