@model IEnumerable<LibraryFinalsProject.ViewModels.BookViewModel>

@{
    ViewData["Title"] = "Books List";
}

<h1>@ViewData["Title"]</h1>


<!-- Book List Table -->
<table class="table mt-4">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.CategoryName</td>
                <td>
                    <a href="@Url.Action("Details", "Book", new { id = book.Id })" class="btn btn-info btn-sm">Details</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
